# Procesamiento de imágenes
opencv-python-headless==4.10.0.84
numpy==1.26.4
matplotlib==3.9.2
scikit-image==0.24.0
Pillow==10.4.0

# Machine Learning
scikit-learn==1.5.2
torch==2.4.1
torchvision==0.19.1

# Análisis y visualización
pandas==2.2.3
seaborn==0.13.2

# Interfaz gráfica
streamlit==1.39.0

# Utilidades
tqdm==4.66.5
