# Procesamiento de imágenes
opencv-python-headless==4.8.1.78
numpy==1.26.4
matplotlib==3.8.4
scikit-image==0.22.0
Pillow==10.3.0

# Machine Learning
scikit-learn==1.4.2
torch==2.2.2
torchvision==0.17.2

# Análisis y visualización
pandas==2.2.2
seaborn==0.13.2

# Interfaz gráfica
streamlit==1.33.0

# Utilidades
tqdm==4.66.4
